@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', serif;
  --font-secondary: 'Orbitron', sans-serif;
  --color-accent: #61988e;
  --color-secondary: #058ed9;
}
